/vendor/
node_modules/
npm-debug.log
yarn-error.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/
tests/

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
